@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #c32155;
  color: white;
}

.dropDown_item:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}

@layer components {
  .main_layout {
    @apply md:w-11/12 mx-auto px-4 md:px-8;
  }
}
