@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #c32155;
  color: white;
}

.main_gradient--1 {
  background: hsla(341, 94%, 49%, 1);

  background: linear-gradient(
    180deg,
    hsla(341, 94%, 49%, 1) 0%,
    hsla(16, 90%, 77%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(341, 94%, 49%, 1) 0%,
    hsla(16, 90%, 77%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(341, 94%, 49%, 1) 0%,
    hsla(16, 90%, 77%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F40752", endColorstr="#F9AB8F", GradientType=1 );
}

.main_gradient--2 {
  background: hsla(347, 89%, 61%, 1);

  background: linear-gradient(
    180deg,
    hsla(347, 89%, 61%, 1) 0%,
    hsla(242, 42%, 40%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(347, 89%, 61%, 1) 0%,
    hsla(242, 42%, 40%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(347, 89%, 61%, 1) 0%,
    hsla(242, 42%, 40%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F44369", endColorstr="#3E3B92", GradientType=1 );
}

.phone_height {
  height: calc(100vh - 65px);
}

.custom_categorySidebar_height {
  height: calc(100vh - 65px);
}

.dropDown_item:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}

input:focus {
  border: none !important;
  outline: none !important;
}

/* FOR ERROR IN THE FORM */
.error {
  color: rgb(255, 255, 255);
  text-align: right;
  position: relative;
  width: max-content;
}

.error::before {
  content: "*";
  position: absolute;
  top: 2px;
  left: -0.8rem;
  width: 10px;
  height: 10px;
  display: inline-block;
}

/* FOR TOASTIFY */
.Toastify__progress-bar {
  background-color: #c32155 !important;
}

.Toastify__toast-container svg {
  fill: #c32155 !important;
  background-color: rgba(#000, 0.2);
}

/* SWIPER SLIDE */
.swiper-button-prev::after,
.swiper-button-next::after {
  background-color: #c32155;
  color: white;
  padding: 10px 6px;
  font-size: 1rem !important;
  transform: translateY(0rem) !important;
}

.swiper-pagination-bullet {
  background-color: #c32155 !important;
  width: 1rem !important;
  border-radius: 0 !important;
  height: 5px !important;
}

@layer components {
  .main_layout {
    @apply xl:w-11/12 mx-auto px-2 xl:px-8;
  }
}

/* FOR LOADING */
.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

.spinner {
  position: absolute;
  width: 1rem;
  height: 1rem;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #c32155;
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}

/* STYLES FOR RANGE INPUT */
.range-input {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #c32155;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #c32155;
  cursor: pointer;
}

.range-input::-moz-range-thumb {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #c32155;
  cursor: pointer;
}

/*  GLOBAL ANIMATION  */
.animation_delay-3 {
  animation-delay: 0.3s !important;
}

.animation_delay-5 {
  animation-delay: 0.5s !important;
}

.animation_delay-7 {
  animation-delay: 0.7s !important;
}

.animation_delay-9 {
  animation-delay: 0.9s !important;
}

.animation_delay-11 {
  animation-delay: 1.1s !important;
}

/* ANIMATE SCALE */
.animate_scale {
  animation: animate-scale 0.7s ease-out backwards;
}

@keyframes animate-scale {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* ////////////////////////////////////// */
/* ANIMATE FROM LEFT */
.animate_sidebar {
  animation: show-sidebar 0.3s ease-in-out;
}

@keyframes show-sidebar {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate_from_left {
  animation: move-left 0.7s ease-out backwards;
}

@keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  80% {
    opacity: 1;
    transform: translateX(0.2rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* ////////////////////////////////////// */
/* ANIMATE FROM RIGHT */
.animate_from_right {
  animation: move-right 0.7s ease-out backwards;
}

@keyframes move-right {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }
  80% {
    opacity: 1;
    transform: translateX(-0.2rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* ////////////////////////////////////// */
/* ANIMATE FROM BOTTOM */
.animate_from_bottom {
  animation: move-bottom 0.4s ease-out backwards;
}

@keyframes move-bottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    transform: translate(0);
  }
}

/* ////////////////////////////////////// */
/* ANIMATE FROM TOP */
.animate_from_top {
  animation: move-top 0.7s ease-out backwards;
}

@keyframes move-top {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    transform: translate(0);
  }
}

/* GLOBAL ANIMATION */
